<div id="reservation" class="booking">
  <div class="booking_title center">Info Jadwal Reservasi Kereta</div>
  <div id="reservation_form" class="booking_form">
      <table class="table-reservation">
        <tr>
          <td>Nama KA (No)</td>
          <td>:</td>
          <td>
            {{train.name}} ({{train.id}})
          </td>
        </tr>
        <tr>
          <td>Asal</td>
          <td>:</td>
          <td>
            {{train.departure_in}}
          </td>
        </tr>
        <tr>
          <td>Tujuan</td>
          <td>:</td>
          <td>
            {{train.arrive_in}}
          </td>
        </tr>
        <tr>
          <td>Berangkat</td>
          <td>:</td>
          <td>
            {{train.departure_on | date: 'hh:mm:ss, dd-MM-yyyy'}}
          </td>
        </tr>
        <tr>
          <td>Tiba</td>
          <td>:</td>
          <td>
            {{train.arrive_on | date: 'hh:mm:ss, dd-MM-yyyy'}}
          </td>
        </tr>
        <tr>
          <td>Harga Tiket</td>
          <td>:</td>
          <td>
            Rp. {{train.price}},00
          </td>
        </tr>
        <tr>
          <td>Jumlah Penumpang</td>
          <td>:</td>
          <td>
            {{slot}}
          </td>
        </tr>
      </table>
  </div>
</div>
