<body>
	<header id="header"><!--header-->
		<div class="header_bg">
	<div class="container">
		<div class="header">
		<div class="head-t">
			<div class="logo">
				<a href="index.html"><img src="images/home/logo.png" class="img-responsive" alt="" style="width:50%; height:auto; padding-bottom:10px"/> </a>
			</div>
			<!-- start header_right -->
		</div>
		</div>
	</div>
</div>
		<div class="header-middle"><!--header-middle-->
			<div class="container">
					<div class="col-sm-12">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								
								<li><a (click)="gotoCart()"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>

	</header><!--/header-->

	<section>
		<div class="container">
						<div class="breadcrumbs">
					<ol class="breadcrumb">
				  <li><a (click)="gotoHome()"><i class="active"></i> Home</a></li>
				  <li class="active">Detail</li>
					</ol>
				</div>
			<div class="row">
				<div class="col-sm-3">

				</div>

				<div class="col-sm-12 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-4">
							<div class="view-product">
								<img [src]="product.image" alt=""  width="300" height="450" />

							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>{{product.nama_barang}}</h2>
								<p>{{product.deskripsi_barang}}</p>
							
									<span>IDR : {{product.harga_barang}}</span>
									
								<p><b>Stock:</b> {{detail.stock}}</p>
								
									<label>Quantity:</label>
									<input type="text" [value]="item.quantitas" />
									<button class="btn_next" (click)="addtoCart(product)">	Add to cart</button>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


				</div>
			</div>
		</div>
	</section>

<footer id="footer"><!--Footer-->
		<div class="footer">
	<div class="container">
		<div class="col-md-3 cust">
			<h4>CUSTOMER CARE</h4>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="buy.html">How To Buy</a></li>
				<li><a href="#">Delivery</a></li>
		</div>
		<div class="col-md-2 abt">
			<h4>ABOUT US</h4>
				<li><a href="#">Our Stories</a></li>
				<li><a href="#">Press</a></li>
				<li><a href="#">Career</a></li>
				<li><a href="contact.html">Contact</a></li>
		</div>
		<div class="col-md-2 myac">
			<h4>MY ACCOUNT</h4>
				<li><a href="register.html">Register</a></li>
				<li><a href="#">My Cart</a></li>
				<li><a href="#">Order History</a></li>
				<li><a href="buy.html">Payment</a></li>
		</div>
		<div class="col-md-5 our-st">
			<div class="our-left">
				<h4>OUR STORES</h4>
			</div>
			<div class="our-left1">
				<div class="cr_btn1">
					<a href="#">BANDUNG</a>
				</div>
			</div>
			<div class="clearfix"> </div>
				<li><i class="add"> </i>Jl. Ciwaruga With Love, no.4</li>
				<li><i class="phone"> </i>0858 61622096</li>
				<li><a href="mailto:info@example.com"><i class="mail"> </i>ukhtiD4@gmail.com </a></li>
		</div>
		<div class="clearfix"> </div>
			<p>Copyright © 2016 LaLaLa Project. All rights reserved. Design by <a href="http://www.themeum.com" style="color:#ed0b19;">UkhtiD4.2014</a></p>
	</div>
</div>
	</footer><!--/Footer-->

</body>
