<body>
	<header id="header"><!--header-->
<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href=""><i class="fa fa-phone"></i> +62 089658825172</a></li>
								<li><a href=""><i class="fa fa-envelope"></i> ukhtid4@gmail.com</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div><!--/header_top-->

		<div class="header-middle"><!--header-middle-->
			<div class="container">
					<div class="col-sm-12">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href=""><i class="fa fa-user"></i> Create Account</a></li>
								<li><a (click)="gotoCart()"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

	</header><!--/header-->

	<section>
		<div class="container">
						<div class="breadcrumbs">
					<ol class="breadcrumb">
				  <li><a (click)="gotoHome()"><i class="active"></i> Home</a></li>
				  <li class="active">Detail</li>
					</ol>
				</div>
			<div class="row">
				<div class="col-sm-3">

				</div>

				<div class="col-sm-12 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-4">
							<div class="view-product">
								<img [src]="product.image" alt=""  width="300" height="450" />
								
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>{{product.nama_barang}}</h2>
								<p>Web ID: {{product.kode_barang}}</p>
								<img src="images/product-details/rating.png" alt="" />
								<span>
									<span>{{product.harga_barang}}</span>
									<label>Quantity:</label>
									<input type="text" value="3" />	
												</span>
								<p><b>Stock:</b> {{detail.stock}}</p>
								<p><b>Colour:</b> {{detail.warna}}</p>
								<p><b>Material:</b> {{detail.bahan}}</p>
								<button class="btn_next" (click)="gotoCart()">	Add to cart</button>

							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


				</div>
			</div>
		</div>
	</section>
	
	
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
						<div class="companyinfo">
							<h2><span>Cantik</span>.com</h2>
							<p>Web Fashion Online yang dibuat oleh ukhti D4 teknik Informatika POLBAN angkatan 2014 </p>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="address">
							<img src="images/home/map.png" alt="" />
							<p>POLBAN Ciwaruga, Kab Bandung Barat </p>
						</div>
					</div>
				</div>
			</div>
		</div>
 

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2016 CANTIK.COM Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">UkhtiD4</a></span></p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->

</body>
