<header id="header"><!--header-->
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">

					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<!--<li><a href=""><i class="fa fa-lock"></i> Login</a></li>-->
								<li><a [routerLink]="['/login']" class="btn btn-link">Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
</header><!--/header-->
<section>
	<link rel="stylesheet" type="text/css" href="home.component.css">
		<div class="container">
			<div class="row">

				<div class="col-sm-12 padding-right">
					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs nav-pills">
								<li *ngFor="let tipe of tipes"><a href="#{{tipe.tipe_barang}}" data-toggle="tab">{{tipe.kode_tipe}}</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div *ngFor="let tipe of tipes" class="tab-pane fade" id="{{tipe.tipe_barang}}" >
								<div *ngFor="let product of products">
								<div *ngIf="product.kode_tipe === tipe.kode_tipe">
									<div  class="col-sm-4" style="margin-bottom:10px ; margin-top:15px ">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img [src]="product.image" alt=""  width="300" height="450" />
												<h3>{{product.harga_barang}}</h3>
												<p>{{product.nama_barang}}</p>
												<button class="btn btn deffault" (click)="gotoDetail(product.kode_barang)">Details</button>
											</div>

										</div>
									</div>
									</div>
								</div>
								</div>

							</div>
						</div>
					</div><!--/category-tab-->
				</div>
			</div>
		</div>
</section>
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						<link rel="stylesheet" type="text/css" href="home.component.css">
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-12">
									<h1>LaLaLa Project</h1>
									<p>Get the latest womens fashion online at LaLaLa Project With 100s of new styles every day from dresses, tops, footwear, & accessories, shop womens clothing now! </p>
								</div>
								<div class="col-sm-12">
									<img src="images/home/tig.jpg" class="girl img-responsive" alt="" style="width:100%; height:auto;" />
								</div>
							</div>

							<div class="item">
								<div class="col-sm-12">
									<h2> LaLaLa Project </h2>
									<p> DISCOUNT UP TO 70% </p>
								</div>
								<div class="col-sm-12">
									<img src="images/home/DP.jpg" class="girl img-responsive" alt="" style="width:100%; height:auto;" />
								</div>
							</div>

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->
	<section>
<link rel="stylesheet" type="text/css" href="home.component.css">
	<footer id="footer"><!--Footer-->
		<div class="footer">
	<div class="container">
		<div class="col-md-3 cust">
			<h4>CUSTOMER CARE</h4>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="buy.html">How To Buy</a></li>
				<li><a href="#">Delivery</a></li>
		</div>
		<div class="col-md-2 abt">
			<h4>ABOUT US</h4>
				<li><a href="#">Our Stories</a></li>
				<li><a href="#">Press</a></li>
				<li><a href="#">Career</a></li>
				<li><a href="contact.html">Contact</a></li>
		</div>
		<div class="col-md-2 myac">
			<h4>MY ACCOUNT</h4>
				<li><a href="register.html">Register</a></li>
				<li><a href="#">My Cart</a></li>
				<li><a href="#">Order History</a></li>
				<li><a href="buy.html">Payment</a></li>
		</div>
		<div class="col-md-5 our-st">
			<div class="our-left">
				<h4>OUR STORES</h4>
			</div>
			<div class="our-left1">
				<div class="cr_btn1">
					<a href="#">BANDUNG</a>
				</div>
			</div>
			<div class="clearfix"> </div>
				<li><i class="add"> </i>Jl. Ciwaruga With Love, no.4</li>
				<li><i class="phone"> </i>0858 61622096</li>
				<li><a href="mailto:info@example.com"><i class="mail"> </i>ukhtiD4@gmail.com </a></li>
		</div>
		<div class="clearfix"> </div>
			<p>Copyright © 2016 LaLaLa Project. All rights reserved. Design by <a href="http://www.themeum.com" style="color:#ed0b19;">UkhtiD4.2014</a></p>
	</div>
</div>