<div id="reservation" class="reservation">
  <div class="reservation_title center">Info Jadwal &amp; Reservasi</div>
  <div id="reservation_form" class="reservation_form">
      <table class="table-reservation">
        <tr>
          <td>Tanggal</td>
        </tr>
        <tr>
          <td>
            <select #date class="cmbreserve">
              <option value="0">...</option>
              <option [value]="day.id" *ngFor="let day of days">{{day.date | date: 'dd MMMM yyyy'}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Stasiun Asal</td>
        </tr>
        <tr>
          <td>
            <select #departure class="cmbreserve">
              <option value="0">...</option>
              <option [value]="station.id" *ngFor="let station of stations">{{station.name}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Stasiun Tujuan</td>
        </tr>
        <tr>
          <td>
            <select #arrive class="cmbreserve">
              <option value="0">...</option>
              <option value="{{station.id}}" *ngFor="let station of stations">{{station.name}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Jumlah Penumpang</td>
        </tr>
        <tr>
          <td>
            <select #slot class="cmbreserve">
              <option [value] = "0">...</option>
              <option [value] ="1">1</option>
              <option [value] ="2">2</option>
              <option [value] ="3">3</option>
              <option [value] ="4">4</option>
            </select>
          </td>
        </tr>
      </table>
      <button class="btn_next" (click)="gotoTrain(date.value,departure.value,arrive.value,slot.value)">Tampilkan</button>
  </div>
</div>
