<header id="header"><!--header-->
		<header id="header"><!--header-->
		<div class="col-sm-12">
		
									<h1 style="font-family:'Pacifico', cursive; text-align: center; background:  white; color: black; text-shadow: 0 0 11px white; font-size: 80px; padding-bottom: 20px;">LaLaLa Project </h1>
								
								</div>
</header><!--/header-->
<div class="col-md-6 col-md-offset-3"  style="    border: 1px solid #A5D5BB;
    margin-top: -1px;
    padding-top: 20px;
    padding-left: 25px;">
    <h2 style="text-align: center;">Payment Method</h2>        
          <br>
		  <label for="name">Payment Number</label>
          <p> Nomor Rekening : 1236812368761276381231</p>
		  <p> Atas Nama : Lalala Project</p>
		  <p> Bank : BRI</p>
		  
		<br>
            <label for="code">Transaction Code</label>
			<p>1234567890</p>
            <br>
        <div class="form-group">
            <a [routerLink]="['/home']" class="btn btn-default">OK</a>
			
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            
        </div>
 
</div>


	<div class="clearfix" style="text-align:centre;"> </div>
	<br><br><br><br><br><br><br><br>
			<p>Copyright © 2016 LaLaLa Project. All rights reserved. Design by <a href="http://www.themeum.com" style="color:#ed0b19;">UkhtiD4.2014</a></p>
